bookworm
newspapers.rdf sample.rdf
jsoncatalog.txt
downloads
input.txt
targetlist.txt
bookworm.cnf
jsoncatalogs/
inputfiles/
ocr.json ocr.json.1 ocr.json.2
ocr.json
newspaperdata.txt
newspaperdata.json
